.card{
    display: grid;
    grid-template-columns: repeat(1,auto);
    grid-template-rows: repeat(4,auto);
    grid-template-areas: 
        "img"
        "rating"
        "desc"
        "price"
    ;
    font-size: .75rem;
    font-weight: 300;
    min-width: 145px;
    width: 176px;
    max-width: 33%;

    p{
        margin: .1em 0;
    }
    .card--img{
        grid-area: img;
        width: 100%;
        border-radius: 9px;
    }
    .card--star{
        max-width: 14px;
        grid-area: rating;
        margin-right: .3em;
    }
    .card--rating{
        display: flex;
        align-items: center;
        grid-area: rating;
        margin-top: .5em;
        span{
            margin: 0 .1em;
        }
    }
    .card--price{
        span{
            font-weight: 600;
        }
    }
    .card--desc{
        grid-area: desc;
    }
    .card--price{
        grid-area: price;
    }
}

//utility
.gray{
    color: #918E9B;
}