.hero{
    padding: 2em;
    display: flex;
    flex-direction: column;
    img{
        max-width: 80%;
        align-self: center;
    }
    .hero--h1{
        font-size: 2rem;
        font-weight: 600;
        margin-bottom: 0;
    }
    p{
        max-width: 65%;
        line-height: 1.1;
        font-weight: 300;
    }
}